<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=""> 
        <lable for="">Username</lable>
        <input name="username" type="text">
        <lable for="">Mobile</lable>
        <input name="mobile" type="text">
        <lable for="">Address</lable>
        <input name="address" type="text">
        <lable for="">Email</lable>
        <input name="email" text="text">
        <lable for="">Password</lable>
        <input name="password" type="text">
        <button>submit</button>
    </form>
</body>
</html> 